@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Keep track of what's in your closet with MyWardrobe App. It really makes life easier, when you're in the know!</p>
