@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    WardrobeMVC App<br />
    Cleveland, OH<br />
    <abbr title="Phone">P:</abbr>
    216.402.0405
</address>

<address>
    <strong>More Info:</strong>   <a href="sonjasmith@outlook.com">SonjaSmith@outlook.com</a><br />
</address>